<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxf.androidcustomlayout">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScollerView.LockDemo"/>
        <activity android:name=".Animation.AnimationDemoActivity"/>
        <activity android:name=".CanvasAndPaint.CanvasActivity"/>
        <activity android:name=".Animator.AnimatorDemoActivity"/>
        <activity android:name=".GotoDemoActivity"/>
        <activity android:name=".Animator.Demo.ShowAndHideMenoActivity"/>
        <activity android:name=".Animation.Demo.CircleDemo.CircleActivity"/>
        <activity android:name=".Listview.ExpandListViewActivity"/>
        <activity android:name=".Animator.Demo.ShowAndHideDemo2Activity"/>
        <activity android:name=".CanvasAndPaint.TimeListDemo.TimeListViewActivity"/>
        <activity android:name=".PermissionsActivity"/>
        <activity android:name=".ScollerView.GestureDetectorDemo"/>
        <activity android:name=".ScollerView.NestedScroll.Nested1.NestedDemo1"/>
        <activity android:name=".Design.Demo.Behavior.BehaviorActivity1"/>
        <activity android:name=".Design.Demo.BehaviorAcitvityMain"/>
        <activity android:name=".Design.Demo.CoodinatorLayout.zhihuDemo.ZhihuActivity"/>
    </application>

</manifest>
